.sobremi h1{
    font-family: 'Pacifico', cursive;
}

.sobremi h3{
    font-family: 'Pacifico', cursive;
}

.borde{
    text-decoration: none;
}

.habi p{
    font-family: 'Abril Fatface', cursive;
}

.img-tama img{
    width: 300px;
    height: 300px;
}

.letra h2{
    font-family: 'DynaPuff', cursive;
}
